flask
flask-cors
psycopg2-binary
pyjwt
werkzeug
neo4j
python-dotenv
langchain-core
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-experimental
langchain-huggingface
pypdf
pytesseract
pillow
python-pptx
docx2txt
requests
numpy